
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <center><h1>Basic Calculator</h1></center>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="total" method= "POST" >
        <center>
            Number 1  : <input id="Text1" type="text" name="num1" /></br></br>
            Number 2  : <input id="Text2" type="text" name="num2" /> </br></br>
            Operations :  </br>
            <input type="radio" name="operation" value="+" > +<br>
            <input type="radio" name="operation" value="-" > -<br>
            <input type="radio" name="operation" value="*" > *<br>
            <input type="radio" name="operation" value="/" > /<br>
            <input type="submit" value ="Count" /></br></br>
           </center>
        </form>                        
    </div>
</body>
</html>
