
<!DOCTYPE html>

<html>
<head>
    <center><h1>Result<h1></center>
    <meta name="viewport" content="width=device-width" />
    <title>total</title>
</head>
<body>
    <div>
        <form action="total">
            <center>
                operation : @ViewBag.operation</br>
                num1 : @ViewBag.num1</br>
                num2 : @ViewBag.num2</br>
                Result : @ViewBag.result;</br>
            </center>
        </form>
</div>
</body>
</html>
